<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <figure id="logo">
        <a th:href="@{/}"><img th:src="@{https://png2.kisspng.com/sh/84e98865858aa094cf3caafd2ef6f430/L0KzQYm3VsA4N6Rrg5H0aYP2gLBuTfNwdaF6jNd7LXnmf7B6TfN2eqNqhtVELYT1cbXsTfNtcaEyeeR9LXP4gsPsjvN6NZR0huhucoTogn68gsE6P2prTaI8M3W4RnA3WME1QGQ1UaMAMki2SYe5V8cxOWQ4RuJ3Zx==/kisspng-computer-icons-currency-trade-clip-art-currency-converter-5b1979f5033e56.0814830915283962770133.png}" alt="currency logo"/></a>
    </figure>
    <p>The Currency Converter</p>
</header>
</body>
</html>